<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>CloudSpokes Challenge 1840</title>
		<meta name="description" content="Cloudspokes Challenge 1840">
		<meta name="viewport" content="width=device-width">
		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="stylesheets/normalize.css">
		<!--link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css"-->
		<link rel="stylesheet" href="stylesheets/main.css">
		<!-- Looking for javascripts? See bottom... -->
    </head>
    <!--
			Bleeding edge
			...no boilerplate, no cross-browser support this time, just
			plain future(chrome) awesomeness...
			!! THIS MEANS TESTED/CREATED ON CHROME +21 !!
	-->
    <body>
    	<header>
			<h1>
				<a class="brand" href="http://www.cloudspokes.com/challenges/1840/">CloudSpokes Challenge - 1840</a>
			</h1>
    	</header>
    	<div>
			<nav>
				<!-- uploaded images will go here -->
				<form method="post" enctype="multipart/form-data">
					<input type="file" class="fubutton" />
				</form>
			</nav>
			<section>
				<div id="stage">
					<canvas id="layer1"></canvas>
					<canvas id="layer0">Your browser doesn't support canvas - You should not see this ugly message...</canvas>
				</div>
			</section>
			<aside>
				<div id="controller">
					<div>
						<label for="hue">Hue rotate</label>
						<input id="hue" type ="range" min ="0" max="360" step ="1" value="0"/>
					</div>
					<div>
						<label for="grayscale">Grayscale</label>
						<input id="grayscale" type ="range" min ="0" max="1" step ="0.01" value="0"/>
					</div>
					<div>
						<label for="sepia">Sepia</label>
						<input id="sepia" type ="range" min ="0" max="1" step ="0.01" value="0"/>
					</div>
					<div>
						<label for="saturate">Saturate</label>
						<input id="saturate" type ="range" min ="0" max="1" step ="0.01" value="1"/>
					</div>
					<div>
						<label for="brightness">Brightness</label>
						<input id="brightness" type ="range" min ="0" max="1" step ="0.01" value="0"/>
					</div>
					<div>
						<label for="contrast">Contrast</label>
						<input id="contrast" type ="range" min ="0" max="1" step ="0.01" value="1"/>
					</div>
					<div>
						<label for="invert">Invert</label>
						<input id="invert" type ="range" min ="0" max="1" step ="0.01" value="0"/>
					</div>
				<div>
				<div id="messages">
					<!-- the messages pushed from the server/pusher will go here... -->
				</div>
			</aside>
		</div>
		<!-- SCRIPTS -->
		<script>
			// injected session variables
			var SESSION_VARS = {
				authEndPoint: '<%= auth_endpoint %>',
				channel: '<%= channel %>',
				pusherKey: '<%= pusher_key %>'
			};
		</script>
		<script src="http://js.pusher.com/1.11/pusher.min.js"></script>
		<script src="scripts/plugins.js"></script>
		<script src="scripts/app.js"></script>
    </body>
</html>
